<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CB.FEFFECT.EDUCATION - Learn soft skills and get certified by top professors in Vietnam.">
    <meta name="keywords" content="education, courses, soft skills, certification, online learning">
    <meta name="author" content="CB.FEFFECT Team">
    <title>CB.FEFFECT.EDUCATION</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Header Section -->
    <section class="sub-header1">
        <nav>
            <a href="#" class="logo"><img src="img/logo.png" alt="Logo"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="course.html">Courses</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>

        <h1>About us</h1>
    </section>
    <!--....................................about us.........................-->

    <section class="about-us">

        <div class="row">
            <div class="about-col">
                <h1>Thông tin về hai vị CEO </h1>
                <p>Nguyễn Thiện Chí cậu bé nghèo vượt khó cố gắng phấn đấu 
                    thay đổi cuộc đời khó khăn và cơ cực đóng góp cho xã hội
                </p>
                <br>
                <p>Võ Tấn Bảo bình thường không có gì đặc biệt xấu trai hơn Chí</p>

                    <a href="" class="hero_btn red-btn">Khám phá ngay</a>
            </div>

            <div class="about-col">
                <img src="img/thaybao.png">

            </div>

            <div class="about-col">
                <img src="img/chideptrai.png">

            </div>


        </div>

    </section>


    <section class="footer">
        <h4>Về chúng tôi</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

    </section>

</body>
</html>
