<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CB.FEFFECT.EDUCATION - Learn soft skills and get certified by top professors in Vietnam.">
    <meta name="keywords" content="education, courses, soft skills, certification, online learning">
    <meta name="author" content="CB.FEFFECT Team">
    <title>CB.FEFFECT.EDUCATION</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Header Section -->
    <section class="sub-header1">
        <nav>
            <a href="#" class="logo"><img src="img/logo.png" alt="Logo"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="course.html">Courses</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>

        <h1>CHỨNG CHỈ VÀ CÁC KHÓA HỌC</h1>
    </section>

    <section class="blog-content">
        <div class="row">
            <div class="blog-left">
                <img src="img/background.jpg">
                <h2> Chứng nhận của chúng tôi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. ErrorLorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                    magni deserunt ab officia laudantium vitae. Error
                </p>
                     <br>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                        magni deserunt ab officia laudantium vitae. Error
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                        magni deserunt ab officia laudantium vitae. Error
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo voluptatibus magnam eum ab? Dicta cumque porro voluptas voluptatibus temporibus itaque rem iste,
                        magni deserunt ab officia laudantium vitae. Error</p>

                <div class="comment-box">
                    <h3>Hãy để lại lời nhắn</h3>

                    <form class="comment-form">
                        <input type="text" placeholder="Enter Name">
                        <input type="email" placeholder="Enter email">
                        <textarea rows="5" placeholder="Your comment"></textarea>
                        <button type="submit" class="hero-btn red-btn"> GỬI LỜI NHẮN</button>
                    </form>
                </div>

            </div>
            <div class="blog-right">
                <h3>Post </h3>
                <div>
                    <span>Data engineer</span>
                    <span>3</span>
                </div>

                <div>
                    <span>English</span>
                    <span>30</span>
                </div>

                <div>
                    <span>Chinese</span>
                    <span>21</span>
                </div>

                <div>
                    <span>BI</span>
                    <span>8</span>
                </div>

                <div>
                    <span>Digital Marketing</span>
                    <span>39</span>
                </div>

                <div>
                    <span>Marketing</span>
                    <span>21</span>
                </div>
            </div>

        </div>
    </section>

    <section class="footer">
        <h4>về chúng tôi</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

    </section>

</body>
</html>
